*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, ul, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.t-left{
    text-align: left;
}
.t-right{
    text-align: right;
}
.t-center{
    text-align: center;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
img{
    max-width: 100%;
}
.woodwork{
    max-width: 1300px;
    margin: 0 auto;
}
.header-section{
    background-color: #000;
}
.header-section .logo{
    display: inline-block;
    width: 100px;
    height: auto;
    padding-top: 10px;
}
.header-menu{}
.header-menu ul{
    text-align: right;

}
.header-menu ul li {
    display: inline-block;
    margin-right: 30px;
   
}
.header-menu ul li a{
    display: block;
    font-size: 20px;
    
    color: rgb(115, 108, 108);
    text-transform: uppercase;
}
.bg-img{
    background-image: url(./img/ia_200000019.jpg);
    height: 600px;
    width: 1300px;
    background-repeat: repeat;
    background-size: cover;
   background-position: bottom;
  

}
.bg-img span{
    text-align: center;
}